/*
 * prom(Project Manager) - A simple cxx project manager application
 * Copyright (C) 2026  Yvhang Cai(Jeffrey Miller)
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */
#include <windows.h>

IDI_ICON1 ICON DISCARDABLE "app.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1,0,4,0
PRODUCTVERSION 1,0,4,0

FILEFLAGSMASK  VS_FFI_FILEFLAGSMASK
FILEFLAGS      0
FILEOS         VOS_NT_WINDOWS32
FILETYPE       VFT_APP
FILESUBTYPE    VFT2_UNKNOWN

    BEGIN

    BLOCK "StringFileInfo"
    BEGIN

        BLOCK "040904b0"
        BEGIN

            VALUE "FileDescription",  "Project Manager"
            VALUE "FileVersion",      "1.0.4.0"
            VALUE "InternalName",     "project_manager"
            VALUE "LegalCopyright",   "Copyright (C) 2026 Yvhang Cai(Jeffrey_Miller). Licensed under GPL-3.0-or-later."
            VALUE "ProductName",      "project_manager"
            VALUE "ProductVersion",   "1.0.4"
            VALUE "OriginalFilename", "prom.exe"
            VALUE "CompanyName",      "None"

        END

    END


    BLOCK "VarFileInfo"
    BEGIN

    VALUE "Translation", 0x409, 1200

    END

END